* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  background-color: #f0f0f0;
}
.wrapper {
  min-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 10px;
}
header {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.mid-container {
  display: flex;
  flex-direction: column;
}

/* cells */
td {
  border: 3px solid black;
  background-color: #fff;
  text-align: center;
  width: 130px;
  height: 130px;

  font-size: 80px;
  border-radius: 10px;
}

/* player info */
.player-turn {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.scores {
  display: flex;
  justify-content: space-between;
}
.next-round {
  border: none;
  background-color: rgba(173, 216, 230, 0.555);
  font-family: "Nunito", sans-serif;
  width: 170px;
  border-radius: 15px;
  padding: 5px;
  font-size: 1.5rem;
  align-self: center;
  visibility: visible;
  color: black;
}
.next-vis {
  visibility: hidden;
}

footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.7rem;
  color: rgb(121, 121, 121);
}

@media (max-width: 430px) {
  td {
    min-width: 120px;
  }
}
